<br>
<br>
<div class="container">
	<p>{{ username }} has {{ repos }} public repositories on github.</p>

	<p>Response time: <b> {{ responseT }} ms</b></p>
	<small>At first response time is large but when you refresh this page, the response time gets smaller cause the details have been cached!✌</small>
</div>